
body{
	background:none;
	width:auto;
	height:auto;
	}



#btneliminarP{
	width:25px;
	height:25px;
	background-image:url(../images/Eliminar.png);
	background-color:transparent;
	background-repeat:no-repeat; 
	border-style:none;
	padding:0px;
	margin-top: 2px;
	cursor:pointer;
	
}

#btneditarP{
	width:25px;
	height:25px;
	background-image:url(../images/Editar.png);
	background-color:transparent;
	background-repeat:no-repeat; 
	border-style:none;
	padding:0px;
	margin-top: 2px;
	cursor:pointer;
}


#btnagregarP{
	width:25px;
	height:25px;
	background-image:url(../images/Agregar.png);
	background-color:transparent;
	background-repeat:no-repeat; 
	border-style:none;
	padding:0px;
	margin-top: 2px;
    cursor:pointer;
}


label{
 	visibility:hidden;
}


#tabla {
	
    font-family:font-alt mb-40 titan-title-size-4;
    width:1040px ;
	height:auto;
	background:#41C2E9;
	border:0;
	border-radius:3%;
	font-size:15px;
	
}


table #tabla
{
	
	
}

tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:first-child td:last-child { border-top-right-radius: 10px; }
tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }

tr:first-child th:first-child { border-top-left-radius: 10px; }
tr:first-child th:last-child { border-top-right-radius: 10px; }
tr:last-child th:first-child { border-bottom-left-radius: 10px; }
tr:last-child th:last-child { border-bottom-right-radius: 10px; }


#tabla td, #customers th {
  
    padding: 10px;
	border:0;
	width:auto;
	
}


#tabla tr:nth-child(even){
	background-color:#41C2E9;
}


#tabla tr:hover {
	background-color: #000;
	color:#FFF;
	text-align:left;
	border:3px;
	background-color: rgba(52,73,94,.7);
}

#tabla th {
    padding:10px;
	border:0;
    background-color:#37aaed;
    color: white;
	
}























